<section class="cocktails">
  <div class="container">
    <h2 class="cocktails__title">Cocktails</h2>
    <ul class="cocktails__list">
      <li class="cocktails__item">
        <img src="../img/Vampiro.jpg" alt="" class="cocktails__image" />
        <h3 class="cocktails__name">Negroni</h3>
        <box class="cocktails__box">
          <button type="button" class="cocktails__learn-more">
            Learn more
          </button>
          <button type="button" class="cocktails__favorite">
            <span class="cocktails__favorite-title">Add to</span>
            <svg class="cocktails__favorite-icon">
              <use href="../img/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
        </box>
      </li>
      <li class="cocktails__item">
        <img src="../img/Vampiro.jpg" alt="" class="cocktails__image" />
        <h3 class="cocktails__name">Negroni</h3>
        <box class="cocktails__box">
          <button type="button" class="cocktails__learn-more">
            Learn more
          </button>
          <button type="button" class="cocktails__favorite">
            <span class="cocktails__favorite-title">Add to</span>
            <svg class="cocktails__favorite-icon">
              <use href="./img/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
        </box>
      </li>
      <li class="cocktails__item">
        <img src="../img/Vampiro.jpg" alt="" class="cocktails__image" />
        <h3 class="cocktails__name">Negroni</h3>
        <box class="cocktails__box">
          <button type="button" class="cocktails__learn-more">
            Learn more
          </button>
          <button type="button" class="cocktails__favorite">
            <span class="cocktails__favorite-title">Add to</span>
            <svg class="cocktails__favorite-icon">
              <use href="./img/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
        </box>
      </li>
      <li class="cocktails__item">
        <img src="../img/Vampiro.jpg" alt="" class="cocktails__image" />
        <h3 class="cocktails__name">Negroni</h3>
        <box class="cocktails__box">
          <button type="button" class="cocktails__learn-more">
            Learn more
          </button>
          <button type="button" class="cocktails__favorite">
            <span class="cocktails__favorite-title">Add to</span>
            <svg class="cocktails__favorite-icon">
              <use href="./img/symbol-defs.svg#icon-heart"></use>
            </svg>
          </button>
        </box>
      </li>
    </ul>
  </div>

  <div class="cocktails-modal__backdrop">
    <div class="cocktails-modal">
      <div class="cocktails-modal__box">
        <img src="../img/Vampiro.jpg" alt="" class="cocktails-modal__img" />
        <div class="cocktails-modal__ingredients-box">
          <h3 class="cocktails-modal__title cocktails-modal__name">Negroni</h3>
          <p class="cocktails-modal__text">INGREDIENTS</p>
          <p class="cocktails-modal__subtext">Per cocktail</p>
          <ul class="cocktails-modal__list">
            <li class="cocktails-modal__item">
              <p class="cocktails-modal__ingredients">
                <span class="cocktails-modal__ingredients-span">✶</span> Ice
              </p>
            </li>
            <li class="cocktails-modal__item">
              <p class="cocktails-modal__ingredients">
                <span class="cocktails-modal__ingredients-span">✶</span> 1 ounce
                gin
              </p>
            </li>
            <li class="cocktails-modal__item">
              <p class="cocktails-modal__ingredients">
                <span class="cocktails-modal__ingredients-span">✶</span> 1 ounce
                Campari
              </p>
            </li>
            <li class="cocktails-modal__item">
              <p class="cocktails-modal__ingredients">
                <span class="cocktails-modal__ingredients-span">✶</span> 1 ounce
                sweet vermouth
              </p>
            </li>
            <li class="cocktails-modal__item">
              <p class="cocktails-modal__ingredients">
                <span class="cocktails-modal__ingredients-span">✶</span>
                Garnish: orange peel
              </p>
            </li>
          </ul>
        </div>
      </div>
      <p class="cocktails-modal__instractions">Instractions:</p>
      <p class="cocktails-modal__instractions-text">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel.
      </p>
      <button type="button" class="cocktails-modal__favorite-button">
        Add to favorite
      </button>
			<button type="button" class="cocktails-modal__close">
				
			</button>
    </div>
  </div>
</section>
