<header class="header">
    <div class="container">
        <div class="header__box">
            <a href="../index.html" class="header__logo-link">
                <img src="../images/logo.png" alt="" class="header__logo">
            </a>
            <div class="header__container">
                <ul class="header__nav">
                    <li class="header__nav-item">
                        <a href="../index.html" class="header__link">Home</a>
                    </li>
                    <li class="header__nav-item">
                        <button class="header__menu-btn">Favorite</button>
                        <ul class="header__menu-list hidden-menu-list">
                            <li class="header__menu-item">
                                <a href="../favorite-coctails.html" class="header__menu-option">Favorite cocktails</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="../favorite-ingredients.html" class="header__menu-option">Favorite
                                    ingredients</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="header__search">
                    <button class="header__btn">
                        <svg class="header__search-svg">
                            <use href="../images/symbol-defs.svg#icon-search"></use>
                        </svg>
                    </button>
                    <input type="text" class="header__input" id="header__input" placeholder="Search  |">
                </div>
                <div class="header__switch-theme">
                    <p class="header__light-text">Light</p>
                    <label class="header__theme-btn">
                        <input type="checkbox" id="theme-checkbox">
                        <span class="header__theme-slider"></span>
                    </label>
                    <p class="header__dark-text">Dark</p>
                </div>
            </div>
        </div>
    </div>
</header>