<header class="header">
    <div class="container">
        <div class="header__box">
            <a href="./index.html" class="header__logo-link">
                <img src="./images/logo.png" alt="" class="header__logo">
            </a>
            <div class="header__container">
                <ul class="header__nav">
                    <li class="header__nav-item">
                        <a href="./index.html" class="header__link">Home</a>
                    </li>
                    <li class="header__nav-item">
                        <button class="header__menu-btn">Favorite</button>
                        <ul class="header__menu-list hidden-menu-list">
                            <li class="header__menu-item">
                                <a href="./favorite-coctails.html" class="header__menu-option">Favorite cocktails</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="./favorite-ingredients.html" class="header__menu-option">Favorite
                                    ingredients</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="header__search">
                    <button class="header__btn">
                        <svg class="header__search-svg">
                            <use href="../images/symbol-defs.svg#icon-search"></use>
                        </svg>
                    </button>
                    <input type="text" class="header__input" id="header__input" placeholder="Search  |">
                </div>
                <div class="header__switch-theme">
                    <p class="header__light-text">Light</p>
                    <label class="header__theme-btn">
                        <input type="checkbox" class="theme-checkbox">
                        <span class="header__theme-slider"></span>
                    </label>
                    <p class="header__dark-text">Dark</p>
                </div>
                <button class="header__mobile-menu-btn">
                    <svg class="header__mobile-menu-svg">
                        <use href="../images/symbol-defs.svg#icon-menu"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    </div>
</header>
<div class="header-menu hidden-burger-menu">
    <a href="../index.html" class="header-menu__logo-link">
        <img src="../images/logo.png" alt="" class="header-menu__logo">
    </a>
    <div class="header-menu__box">
        <div class="header-menu__switch-theme">
            <p class="header-menu__light-text">Light</p>
            <label class="header-menu__theme-btn">
                <input type="checkbox" class="theme-checkbox">
                <span class="header-menu__theme-slider"></span>
            </label>
            <p class="header-menu__dark-text">Dark</p>
        </div>
        <div class="header-menu__search">
            <button class="header-menu__btn">
                <svg class="header-menu__search-svg">
                    <use href="../images/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
            <input type="text" class="header-menu__input" id="header-menu__input" placeholder="Search  |">
        </div>
        <ul class="header-menu__nav">
            <li class="header-menu__nav-item">
                <a href="../index.html" class="header-menu__link">Home</a>
            </li>
            <li class="header-menu__nav-item">
                <button class="header-menu__menu-btn"><span>Favorite</span>
                    <svg class="header-menu__menu-btn-svg">
                        <use href="../images/symbol-defs.svg#icon-smaller-arrow"></use>
                    </svg>
                </button>
                <ul class="header-menu__menu-list hidden-menu-list">
                    <li class="header-menu__menu-item">
                        <a href="../favorite-coctails.html" class="header-menu__menu-option">Favorite cocktails</a>
                    </li>
                    <li class="header-menu__menu-item">
                        <a href="../favorite-ingredients.html" class="header-menu__menu-option">Favorite
                            ingredients</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="header-menu__close-box">
        <button class="header-menu__close">
            <svg class="header-menu__close-svg">
                <use href="../images/symbol-defs.svg#icon-cross-close"></use>
            </svg>
        </button>
    </div>
    <div class="header-menu__orange-bottom"></div>
</div>