<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__box">
        <h1 class="hero__title" data-aos="fade-right" data-aos-duration="2000">A party without cocktails is not like a party</h1>
        <p class="hero__text">Search your favorite cocktail by ABC</p>
        <ul class="hero__list">
          <li class="hero__item">
            <button class="hero__button">A</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">B</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">C</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">D</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">E</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">F</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">G</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">H</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">I</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">J</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">K</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">L</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">M</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">N</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">O</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">P</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">Q</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">R</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">S</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">T</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">Y</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">V</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">W</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">X</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">Y</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">Z</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">1</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">2</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">3</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">4</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">5</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">6</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">7</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">8</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">9</button>
          </li>
          <li class="hero__item">
            <button class="hero__button">0</button>
          </li>
        </ul>
      </div>
      <img src="./images/hero-img.png" alt="cocktail" class="hero__img" data-aos="fade-left" data-aos-duration="1500">
      <p class="hero__text-mob">Search your favorite cocktail by ABC</p>
      <button class="hero__open-letters"><span>A</span>
        <svg>
          <use href="../images/symbol-defs.svg#icon-smaller-arrow"></use>
        </svg>
      </button>
      <div class="hero__mob-box mob-box-hidden">
        <button class="hero__button-mob">A</button>
        <button class="hero__button-mob">B</button>
        <button class="hero__button-mob">C</button>
        <button class="hero__button-mob">D</button>
        <button class="hero__button-mob">E</button>
        <button class="hero__button-mob">F</button>
        <button class="hero__button-mob">G</button>
        <button class="hero__button-mob">H</button>
        <button class="hero__button-mob">I</button>
        <button class="hero__button-mob">J</button>
        <button class="hero__button-mob">K</button>
        <button class="hero__button-mob">L</button>
        <button class="hero__button-mob">M</button>
        <button class="hero__button-mob">N</button>
        <button class="hero__button-mob">O</button>
        <button class="hero__button-mob">P</button>
        <button class="hero__button-mob">Q</button>
        <button class="hero__button-mob">R</button>
        <button class="hero__button-mob">S</button>
        <button class="hero__button-mob">T</button>
        <button class="hero__button-mob">Y</button>
        <button class="hero__button-mob">V</button>
        <button class="hero__button-mob">W</button>
        <button class="hero__button-mob">X</button>
        <button class="hero__button-mob">Y</button>
        <button class="hero__button-mob">Z</button>
        <button class="hero__button-mob">1</button>
        <button class="hero__button-mob">2</button>
        <button class="hero__button-mob">3</button>
        <button class="hero__button-mob">4</button>
        <button class="hero__button-mob">5</button>
        <button class="hero__button-mob">6</button>
        <button class="hero__button-mob">7</button>
        <button class="hero__button-mob">8</button>
        <button class="hero__button-mob">9</button>
        <button class="hero__button-mob">0</button>
      </div>
    </div>
  </div>
</section>