.hero {
  padding-top: 97px;
  padding-bottom: 105px;

  @media screen and (max-width: 770px) {
    padding-top: 51px;
    padding-bottom: 110px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: 360px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 770px) {
    }
    @media screen and (max-width: 360px) {
      flex-direction: column;
    }
  }

  &__title {
    color: var(--grapefruit);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.5;
    width: 688px;
    margin-bottom: 40px;

    @media screen and (max-width: 770px) {
      font-size: 26px;
      line-height: 1.6;
      width: 336px;
    }

    @media screen and (max-width: 360px) {
      font-size: 22px;
      line-height: 1.9;
    }
  }
  &__text {
    color: var(--black);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 0.36px;
    margin-bottom: 40px;

    @media screen and (max-width: 770px) {
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.28px;
    }

    @media screen and (max-width: 360px) {
      display: none;
    }
  }
  &__box {
    position: relative;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    justify-content: center;

    @media screen and (max-width: 770px) {
      width: 325px;
      height: 75px;
    }
    @media screen and (max-width: 360px) {
      display: none;
    }
  }
  &__button {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--grey);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;

    transition-property: color;
    transition: 500ms;

    @media screen and (max-width: 770px) {
      width: 24px;
      height: 25px;
      font-size: 14px;
    }
  }

  &__button:hover {
    color: #fd5103;
    transform: scale(1.2);
  }
  &__img {
    width: auto;
    height: auto;

    @media screen and (max-width: 770px) {
      max-width: 368.409px;
    }

    @media screen and (max-width: 360px) {
      max-width: 307.007px;
    }
  }
  &__text-mob {
    display: none;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.28px;
    width: 280px;
    opacity: 0.8;
    margin-top: 50px;
    @media screen and (max-width: 360px) {
      display: block;
    }
  }
  &__open-letters {
    display: none;
    width: 93px;
    height: 34px;
    padding: 10px;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--grapefruit);
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    @media screen and (max-width: 360px) {
      display: flex;
    }
  }
  & span {
    color: var(--grapefruit);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    width: 37px;
  }
  & svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--grapefruit);
  }
  &__mob-box {
    display: flex;
    position: absolute;
    top: 702px;
    left: 136px;
    flex-direction: column;
    width: 93px;
    height: 84px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--grapefruit);
    overflow-x: auto;
    background-color: var(--white);
  }
  &__button-mob {
    background-color: transparent;
    color: var(--grey);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    flex-shrink: 0;
    padding: 6px;
    padding-left: 20px;
    text-align: left;
    border-radius: 4px;

    &:hover {
      background-color: var(--grapefruit);
      color: var(--white);
    }
  }
}
.mob-box-hidden {
  display: none;
}

.error-message {
  color: var(--black, #202025);
  text-align: center;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;

  max-width: 493px;
}

.error-image {
  max-width: 345px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
